##Clock Signal 100MHz
NET CLK LOC=D11 |  IOSTANDARD = "LVCMOS33";
NET "CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

NET "RST" LOC = E6 | IOSTANDARD=LVCMOS18;

# Expansion header
NET "TAP[0]"  LOC = AB13 | IOSTANDARD=LVCMOS33;
NET "TAP[1]"  LOC = T11  | IOSTANDARD=LVCMOS33;
NET "TAP[2]"  LOC = W12  | IOSTANDARD=LVCMOS33;
NET "TAP[3]"  LOC = V11  | IOSTANDARD=LVCMOS33;
NET "TAP[4]"  LOC = U10  | IOSTANDARD=LVCMOS33;
NET "TAP[5]"  LOC = Y8   | IOSTANDARD=LVCMOS33;
NET "TAP[6]"  LOC = U9   | IOSTANDARD=LVCMOS33;
NET "TAP[7]"  LOC = Y9   | IOSTANDARD=LVCMOS33;
NET "TAP[8]"  LOC = Y12  | IOSTANDARD=LVCMOS33;
NET "TAP[9]"  LOC = W10  | IOSTANDARD=LVCMOS33;
NET "TAP[10]" LOC = R11  | IOSTANDARD=LVCMOS33;
NET "TAP[11]" LOC = T10  | IOSTANDARD=LVCMOS33;
NET "TAP[12]" LOC = V9   | IOSTANDARD=LVCMOS33;
NET "TAP[13]" LOC = AA8  | IOSTANDARD=LVCMOS33;
NET "TAP[14]" LOC = W9   | IOSTANDARD=LVCMOS33;
NET "TAP[15]" LOC = AB8  | IOSTANDARD=LVCMOS33;

# UART
NET "Uart_TX" LOC = T20 | IOSTANDARD = "LVCMOS33";
NET "Uart_RX" LOC = T19 | IOSTANDARD = "LVCMOS33";

# HDMI
NET "HDMI_TX_P[0]"  LOC = D10 | IOSTANDARD=TMDS_33;
NET "HDMI_TX_P[1]"  LOC = C9  | IOSTANDARD=TMDS_33;
NET "HDMI_TX_P[2]"  LOC = D9  | IOSTANDARD=TMDS_33;
NET "HDMI_TX_P_CLK" LOC = B10 | IOSTANDARD=TMDS_33;

NET "HDMI_TX_N[0]"  LOC = C10 | IOSTANDARD=TMDS_33;
NET "HDMI_TX_N[1]"  LOC = A9  | IOSTANDARD=TMDS_33;
NET "HDMI_TX_N[2]"  LOC = D8  | IOSTANDARD=TMDS_33;
NET "HDMI_TX_N_CLK" LOC = A10 | IOSTANDARD=TMDS_33;

NET "HDMI_CEC" LOC = A11 | PULLUP | IOSTANDARD=LVCMOS33;

# I2C
NET "I2C_SDA" LOC = C5 | PULLUP | IOSTANDARD=LVCMOS33;
NET "I2C_SCL" LOC = A4 | PULLUP | IOSTANDARD=LVCMOS33;

